body {
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: $sans;

  .noScroll {
    overflow: hidden !important;
  }
}

.page {
  overflow-x: hidden !important;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1170px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;

  @include media($md) {
    flex-direction: row;
  }
}

.home > header {
  background-color: $dark-l;

  .logo--white {
    display: none;
  }
}

.blog > header {
  background-color: $dark-l;

  .logo--white {
    display: none;
  }
}

.qatr > header {
  background-color: $dark;

  .logo--white {
    display: none;
  }
}

.team > header {
  background-color: $teal;

  .logo--green {
    display: none;
  }
}
