// your custom styles here...

#home-head {
  padding: 10em 0;
  height: 100%;

  p {
    max-width: 400px;
  }

  img {
    margin: 2em 0;
  }
}

.bg-triangles {
  background-image: url("http://i.imgur.com/pQU3USW.png");
  background-position: bottom;
  background-repeat: repeat-x;
  z-index: 2;
}

.triangle-up {
  margin-top: -1.9px;
}

.bg-gradient--outer-gray {
  padding-top: 10em;
}

.inner-header {
  padding-bottom: 6em;
  text-align: center;
  margin: 0 auto;

  @include media($lg) {
    text-align: left;
  }


  img {
    margin: 2em 0;
  }

  p {
    max-width: 400px;
    margin: 0 auto;

    @include media($lg) {
      margin: 0;
    }
  }
}
